.DS_Store
flamegraph.svg
perf.data
perf.data.old

/*.md
/.env
/.git
/.gitignore
/.vscode
/Dockerfile
/Jenkinsfile
/bin
/config/dev*.toml
/config/prod*.toml
/data
/docker-compose*
/docs
/redis-cell-server/
/scripts
/target
