[build]
rustflags = [
    # potentially faster. https://nnethercote.github.io/perf-book/build-configuration.html
    "-C", "target-cpu=native",
    # tokio unstable is needed for tokio-console
    "--cfg", "tokio_unstable"
]
rustdocflags = [
    # potentially faster. https://nnethercote.github.io/perf-book/build-configuration.html
    "-C", "target-cpu=native",
    # tokio unstable is needed for tokio-console
    "--cfg", "tokio_unstable"
]
