[package]
name = "redis-rate-limiter"
version = "0.2.0"
authors = ["Bryan Stitt <bryan@llamanodes.com>"]
edition = "2021"

[dependencies]
anyhow = "1.0.75"
chrono = "0.4.30"
deadpool-redis = { version = "0.12.0", features = ["rt_tokio_1", "serde"] }
tokio = "1.32.0"
